@model IEnumerable<Core.Models.Unit>
@{
    ViewBag.Title = "UnitsManager";
}

@if (User.Identity.IsAuthenticated)
{
    if (User.Identity.Name == "admin")
    {
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" ΄>Όνονα Μονάδας</th>
                <th scope="col">Τύπος</th>
                <th scope="col">Ίδρυμα</th>
                <th scope="col">Περιγραφή</th>
                <th scope="col">Link</th>
                <th scope="col">Υπεύθυνος Μονάδας</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="row">
                        1
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.type)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.institute)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.url)
                    </td>
                    <td>
                        <form method="post" onsubmit="return Mconfirm()" action="@Url.Action("Delete", "Home", new {id = item.ID})'">
                            <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                        </form>
                    </td>

                </tr>
            }
            </tbody>
        </table>

        <script>
            function Mconfirm() {
                return confirm(
                    "Είστε σίγουρος για την διαγραφή του στοιχείου? Η ενέργεια αυτή δεν θα μπορεί να αναιρεθεί");
            }
        </script>
    }
}